/* font api */

@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

/*  Configs  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: #ee0101;
    --dark-red: #a40414;
    --red-standart: #b80c10;
    --font-color-standart: #fefeff;
    --black-standart: #080606;
}

body{
    font-family: 'Chinese Rocks Rg', sans-serif;
    background-color: var(--red-standart);
}
/* Header -- witdh PC*/

header{
    text-align: center;
}
.title{
    color: var(--font-color-standart);
    font-size: 3.8rem;
}
.menu{
    list-style: none;
}
.menu > li{
    display: inline;
}

.container{
    padding: 2vh 0 2vh 0;
    color: var(--font-color-standart);
}

footer{
    padding: 0.5vh 0 0.5vh 0;
    background-color: black;
    font-size: 1.43vw;
    text-align: center;
    color: #ffffff;
}

footer a{
    text-decoration: none;
    color: var(--font-color-standart);
}

@media only screen and (max-device-width: 640px) {
    header{
        padding: 0.7vh 0 0.7vh 0;
    }
    .title{
        font-size: 9.1vh;
        padding-bottom: 1.3vh;
    }
}